<div class="body">
  <div class="content">
    <mat-card>
      <div style="text-align: center" id="print-section">
        <h1 style="border-bottom: solid 2px black; font-weight: 800">
          Aplikasi Antrian
        </h1>
        <h4>Antrian No :</h4>
        <h1 style="font-size: 3em; font-weight: 800">A001</h1>
        <h4>Mohon Menunggu</h4>

        <div style="text-align: center;">
          <ngx-barcode [bc-value]="value" [bc-display-value]="false" ></ngx-barcode>
        </div>
        

        <h4 style="border-bottom: solid 2px black">
          07 April 2022 - 9:25:40 PM
        </h4>

        <h2>
          Budayakan antri untuk kenyamanan bersama
          <br />
          Terima Kasih atas Kunjungan Anda
        </h2>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <button mat-flat-button color="accent" style="width: auto" printSectionId="print-section" [printStyle]="{h4 : {'text-align': 'center'}, h1 : {'text-align': 'center'},  h2 : {'text-align': 'center'}}" ngxPrint>
          Cetak Struk
          <mat-icon>printer</mat-icon>
        </button>
        <button mat-flat-button color="primary" style="width: auto" >
          Selanjutnya
          
        </button>
      </div>
    </mat-card>

    <!-- second card -->
    <mat-card style="width: 350px; margin-left: 40px">
      <div>
        <!-- list visitor -->
        <div
          style="
            height: 400px;
            /* background-color: aquamarine; */
            margin-bottom: 20px;
            overflow: scroll;
            overflow-x: hidden;
          "
        >

        <div style="padding-right: 20px;" *ngFor=" let visitor of dataVisitor">
          <h4 style="margin: 0; font-weight: 800; ">{{visitor.nomerAntrian}}</h4>
          <h2 style="margin: 0">{{visitor.name}}</h2>
          <h4 style="margin: 0; border-bottom: solid 1px gray; margin-bottom: 5px; font-style: italic;">
            {{visitor.date}}
          </h4>
        </div>

      

        </div>

        <div
          style="
            display: flex;
            align-content: flex-end;
            justify-content: space-around;
          "
          routerLink="add-visitor"
        >
          <button mat-flat-button color="accent" style="width: 80%">
            Buat Pengunjung Baru
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>

  <div
    class="float-button"
    style="
      position: absolute;
      bottom: 50px;
      right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    "
  >
   
  </div>
</div>
