<div class="body">
  <div class="content">
    <mat-card>
      <h2 style="border-bottom: solid 1px gray; font-weight: 800">
        Daftar Visitor
      </h2>

      <form [formGroup]="visitorData">
        <div
          style="
            padding-left: 20%;
            padding-right: 20%;
            display: flex;
            flex-direction: column;
          "
        >
          <mat-form-field >
            <mat-label>Name</mat-label>
            <input required minlength="3" matInput placeholder="Dani Arthur Widodo" value="" formControlName="name"  />
            <mat-error *ngIf="errorHandling('name', 'minlength')">
              minimal 3 karakter
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input required minlength="3" type="tel" matInput placeholder="0812123123" value="" formControlName="phone" />
            <mat-error *ngIf="errorHandling('phone', 'minlength')">
              minimal 6 karakter
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nomer Antrian</mat-label>
            <input required type="text" matInput placeholder="Nomer Antrian" value=""  formControlName="nomerAntrian" />
          </mat-form-field>

          <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 40px;">
            <button mat-raised-button color="primary" type="submit" [disabled]="!visitorData.valid" style="width: 100px;" (click)="addVisitor()">Buat</button>

            <button mat-flat-button color="accent" style="width: 100px;" routerLink="/">
              Kembali
            </button>
          </div>

        </div>
      </form>
    </mat-card>
  </div>

  <div
    class="float-button"
    style="position: absolute; top: 50px; left: 50px"
  ></div>
</div>
