<div class="body">
    <div class="content">
        <table>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Savings</th>
            </tr>
            <tr>
              <td>Peter</td>
              <td>Griffin</td>
              <td style="display: flex ; justify-content: space-evenly;">
                  <button mat-flat-button > edit </button>
                  <button mat-flat-button color="primary">  delete </button>
              </td>
            </tr>
            <tr>
              <td>Lois</td>
              <td>Griffin</td>
              <td>$150</td>
            </tr>
            <tr>
              <td>Joe</td>
              <td>Swanson</td>
              <td>$300</td>
            </tr>
            <tr>
              <td>Cleveland</td>
              <td>Brown</td>
              <td>$250</td>
            </tr>
          </table>
          
          
      
    </div>
  
    <div
      class="float-button"
      style="position: absolute; top: 50px; left: 50px"
    >
      <button mat-flat-button color="accent" style="margin-right: 40px" routerLink="/"> 
        Kembali
      </button>
     
    </div>
  </div>